/* GENERAL  */

  @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Borel&family=Faster+One&family=Kanit&family=Poppins:wght@300;400;500&family=Press+Start+2P&family=Raleway:wght@600&family=Rubik+Iso&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(249, 249, 249);
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

.project_description {
  color: rgb(27, 27, 27);
  margin-bottom: 20px;
  text-align: justify;
  /* padding: 5px; */
}

/* TRANSITION */

a, .btn {
  transition:  300ms ease;
}

/* NAV */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 18vh;

}


.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  color: rgb(5, 5, 5);
  text-decoration: none;
  /* text-decoration-color: white; */
  text-decoration-line: none;
}

a:hover {
  background-image: linear-gradient(to right, #FF3B30, #FF9500, #FFCC00, #34AADC, #007AFF, #9763e4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  text-decoration: none;
  text-underline-offset: 1rem;
  /* text-decoration-color: rgb(85, 85, 85); */
}

.marcelo {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(3, 3, 3);
}

.amaral {
  font-size: 2rem;
  font-weight: 500;
  color: #007AFF;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

/* .marcelo-logo {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.amaral-logo {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(236, 195, 91);
} */


.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: rgb(6, 6, 6);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: #007AFF;
  max-width: 0; /* Altere de 0vh para 0 */
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links.open {
  width: 100vw; /* Set the width to 100% of the viewport width */
  height: 100vh; /* Set the height to 100% of the viewport height */
  position: fixed; /* Fixed positioning to cover the entire viewport */
  gap: 2rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #007AFF; /* Add a semi-transparent background overlay */
  z-index: 1000; /* Ensure it's above other content */
}

/* Adjust other styles as needed when the menu is open */
.menu-links.open a {
  /* Your styles for menu links when the menu is open */
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-width: 300px;
}


.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

/* .marcelovsk1 {
  border-radius: 50%;
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  object-fit: cover;
} */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 4rem;
  height: 80vh;
}

.selection__pic-container{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__tex p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
  font-size: 2rem;
  color: rgb(58, 58, 58);
  /* margin-top: 50px; */
}

.section__text__p2 {
  font-size: 2rem;
  /* color: rgb(214, 174, 133); */
  margin-bottom: 1rem;
  background-image: linear-gradient(to right, #FF3B30, #FF9500, #FFCC00, #34AADC, #007AFF, #9763e4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: rgb(2, 2, 2);
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.marcelo-logo{
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(1, 1, 1);
}

.amaral-logo{
  font-size: 1.5rem;
  font-weight: 500;
  color: #007AFF;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  color: rgb(239, 25, 25);
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.btn-color-1,
.btn-color-2 {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: #007AFF;
  color: #ffffff;
}

.btn-color-1:hover {
  background: rgb(220, 220, 220);
}

.btn-color-1{
  background: rgb(240, 240, 240);
  color: #007AFF;
}

.btn-color-2{
  background: #007AFF;
  color: white;
}

.btn-color-2:hover {
  background: #0060c6;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
  width: 320px;
  height: 350px;
  margin-top: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
  width: 40px;
  height: 40px;
}

  .details-container {
  padding: 1.5rem;
  flex: 1;
  background: rgb(236, 236, 236);
  border-radius: 2rem;
  /* border: 0.1rem solid rgb(255, 255, 255); */
  text-align: center;
  color:  #007AFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

.section-container {
  gap: 4rem;
  height: 80%;
}

.selection__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

p {
  color: black;
}

.me {
  color: rgb(214, 174, 133);
}

/* EXPERIENCE */

#experience {
  position: relative;
}

#exp {
  color:  #007AFF;
}

.experience-sub-title {
  color: rgb(2, 2, 2);
  font-weight: 600;
  font-size: 1.75;
  margin-bottom: 2rem;
}

.experience-sub-title_2 {
  color: rgb(2, 2, 2);
  font-weight: 600;
  font-size: 1.25;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
  /* margin-bottom: 90px; */
}

.article-container-projects {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

.article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

.article .icon{
  cursor: default;
}

/* PROJECTS */

#projects {
  position: relative;
}


#project {
  color: #007AFF;
}

.color-container {
  border-color: black;
}

.project-img {
  border-radius: 2rem;
  width: 110%;
  height: 90%;
  margin-top: 45px;
}

.project-img-2 {
  border-radius: 2rem;
  width: 110%;
  height: 90%;
}

.project-img-3 {
  border-radius: 2rem;
  width: 110%;
  height: 90%;
  margin-bottom: -20px;
}

.project-title {
  margin: 1rem;
  color: rgb(0, 0, 0);
}
/*
.media-scroller {
  display: flex;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  gap: 5rem;

  overflow-x: auto;
  overscroll-behavior: ;
} */

.project-title-2 {
  margin: 1rem;
  color: rgb(0, 0, 0);
  margin-top: -10px;
}

.section__text__p12 {
  text-align: center;
  font-size: 2rem;
  color: rgb(58, 58, 58);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.me {
  color:  #007AFF;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  background-color: rgb(236, 236, 236);
  margin: 2rem auto;
  padding: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: large;
}

.contact-icon {
  cursor: default;
  height: 2rem;
}

.email-icon {
  height: 3rem;
}

/* FOOTER */

footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
  color:  #007AFF;
}
